.clv-div {
  box-sizing: border-box;
} 
.clv-a,
.clv-a:hover,
.clv-a:focus,
.clv-a:active {
  text-decoration: none;
  color: inherit;
}

#clovi {
  width: 360px;
  min-height: 80px;
  max-height: 420px;
  border-radius: 10px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2021;
  /* overflow: hidden; */
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 29px 0px;
  display: none;
}

.clv-header {
  display: flex;
  /* position: fixed; */
  justify-content: space-between;
  align-items: center;
  /* width: 360px; */
  width: 100%;
  height: 44px;
  /* border-radius: 10px 10px 0px 0px; */
  box-sizing: border-box;
  padding: 0px 12px;
  background-color: white;
}

.clv-header__youtuber {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
}
.clv-header__youtuber__img {
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.clv-header__right {
  display: flex;
  align-items: center;
}

.clv-right__model {
  display: flex;
  font-size: 12px;
}

.clv-right__model__children {
  margin-left: 10px;
}

.clv-right__close {
  font-weight: 600;
  font-size: 14px;
  margin-left: 12px;
  color: #858585;
  cursor: pointer;
}

.clv-main {
  background-color: #e5e5e5;
  /* position: relative; */
  display: flex;
  /* top: 40px; */
  flex-direction: column;
  width: 360px;
  overflow-y: scroll;
  max-height: 380px;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.clv-main::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.clv-emptyItems {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clv-card {
  width: 100%;
  margin-top: 1px;
  display: flex;
}
.clv-item {
  background-color: white;
  padding: 8px;
  width: 336px;
  display: flex;
}
.clv-item:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
.clv-item__img {
  width: 80px;
  margin-right: 8px;
}
.clv-item__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px 0px;
  justify-content: space-between;
}
.clv-info__name {
  font-size: 14px;
  font-weight: 500;
}
.clv-info__others {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.clv-others__seller {
  display: flex;
}
.clv-seller__img {
  width: 12px;
  object-fit: contain;
  margin-right: 5px;
}
.clv-seller__name {
  font-size: 12px;
  font-weight: 200;
}
.clv-others__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.clv-right__price {
  font-size: 14px;
  font-weight: 600;
}
.clv-right__colorSize {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 200;
}
.clv-fold {
  width: 24px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clv-active,
.clv-fold:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.clv-fold__button {
  font-size: 10px;
  font-weight: 400;
  transition: transform 0.3s;
}
.clv-superactive {
  transform: rotate(180deg);
}
.clv-shops {
  display: flex;
  flex-direction: column;
  display: none;
}
.clv-shops__shop {
  margin-top: 1px;
  display: flex;
  justify-content: space-between;
  padding: 0px 24px;
  width: 100%;
  height: 40px;
  background-color: white;
}
.clv-shops__shop:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
.clv-shop__shopInfo {
  display: flex;
  align-items: center;
}
.clv-shopInfo__shopLogo {
  margin-right: 5px;
  width: 12px;
  height: 12px;
}
.clv-shopInfo__shopName {
  font-size: 12px;
  font-weight: 500;
}
.clv-shop__price {
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
}
